.profile-container {
  background: #008080;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.a {
  grid-column: 1/2;
}

.b {
  grid-column: 2/4;
}

.h1-color {
  color: #008080;
}
