.profile-container {
  background: #008080;
}

* {
  box-sizing: border-box;
}

.child1 {
  border: 1px solid #c7ea46;
  float: left;
  width: 25%;
  color: #008080;
}

.child2 {
  border: 1px solid #c7ea46;
  float: left;
  width: 75%;
  color: #008080;
}

.h1-color {
  color: #008080;
}
