/*Header coloring and flex to display contents of div. */
.header {
  background-color: #c7ea46;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: stretch;
}

/* all the children of header should get space at top and buttom*/
.header > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*flex basis for the above declared header-flex*/
.header-a .header-b {
  flex-basis: 60%;
}
.header-c {
  flex-basis: 20%;
}

.name {
  color: #046b65;
}
span {
  color: #008080;
}

.button {
  background-color: #046b65;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  margin: 10px;
}

.line {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

.line-1 {
  height: 1px;
  background: #008080;
}

.inline {
  list-style-type: none;
  display: flex;
  width: 1000px;
  justify-content: space-evenly;
}

.mystyle {
  background-color: #e5eeee;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
}

h1 {
  padding: 1rem;
  color: white;
}
